html,
body {
  height: 100%;
}

.close {
  cursor: pointer;
}

.menu-list-item {
  margin-left: 2rem;
  padding: 0;
}

.menu-list-item summary {
  display: flex;
  align-items: center;
}

.option-item button {
  border: none;
  background-color: transparent;
  color: var(--dropdown-color);
  text-align: left;
  padding: 0;
}

.option-item button:focus {
  box-shadow: none;
}

.option-item:hover {
  background-color: lightgray;
}
